<div class="container mt-5">
	<center><h2 class="mb-3">Chat Room</h2></center>

	<div class="row">

		<div class="col-3 overflow-auto bg-dark rounded-left shadow-lg pt-2 pl-3 list-group" id="friends" name="recipients" style="height:65vh;">

		</div>

		<div class="col-9 overflow-auto bg-light rounded-right shadow-lg" id="messages" name="messages" style="height:65vh;">

		</div>

	</div>


	<div class="row mt-2">
		<div class="col-3">
		</div>
		<div class="col-9">
			<form name="messageInput" method="post" autocomplete="off">

				<div class="input-group shadow-lg">
					<textarea class="form-control" id="MessageText" name="MessageText" placeholder="Type a message..." aria-label="Type a message..." maxlength="255" row="1" autofocus></textarea>

				</div>

			</form>
		</div>
	</div>
</div>
@section scripts {
	<script>

		var count = 0;
		var youcid;
		var chatroomId;
	$(document).ready(function () {
		load_recipients();

		setInterval(function () {
			//$("#messages").empty();
			load_data();
		}, 1000);

		var t = document.getElementById('MessageText');
		var b = document.getElementById('MessageSend');

		t.addEventListener("keyup", function (e) {
			if (e.keyCode == 13 && !e.shiftKey) {
				var msg = $(this).val();

				$.ajax({
					type: "POST",

					url: '@Url.Action("AddMessage", "Chat")',
					data: {

						UserId: myid,
						ChatroomId: chatroomId,
						Content: msg
					},
					success: function (data) {


					}
				});

				t.focus();
				t.value = "";

			}
		});



	});
function scroll_bottom() {
  var s = document.getElementById("messages");
  s.scrollTop = s.scrollHeight;
}

function load_data() {


	$.ajax({
		type: "POST",
		url: '@Url.Action("GetMessage", "Chat")',

		data: { "id": chatroomId },
		dataType: "json",
        success: function (data) {

			if (data) {
				var len = data.length;

				for (var i = count; i < len; ++i) {
					var chatroomid = data[i].chatroomId;
					var me = data[i].userId;
					var msg_context = data[i].content;
					var dt = data[i].postTime;

					var str = "";

					if (me == myid) {
						str += '<div class="row my-3">';
						str += '<div class="col-6"></div>';
						str += '<div class="col-6">';
						str += '<div class="float-right rounded-pill bg-primary px-3 py-2 mx-3 text-white text-break">' + msg_context + '</div>';
						str += '</div></div>';
					} else {
						str += '<div class="row my-3">';
						str += '<div class="col-6">';
						str += '<div class="float-left rounded-pill bg-dark px-3 py-2 mx-3 text-light text-break">' + msg_context + '</div>';
						str += '</div>';
						str += '<div class="col-6"></div>';
						str += '</div>';
					}

					$("#messages").append(str);
				}
				count = len;
			}

			scroll_bottom();
        }

    });
}



		function load_recipients() {
			$.ajax({
				type: "POST",
				url: '@Url.Action("GetFriends", "Chat")',
				dataType: "JSON",
				data: { "id": myid },
				success: function (data) {
					if (data) {
						var len = data.length;
						youcid = data[0].user_2;
						console.log(data);

						for (var i = 0; i < len; ++i) {
							selectchatroomId = data[i].id;
							var usrn1 = data[i].user_1;
							var usrn2 = data[i].user_2;
							var str = "";
							var r;

							if (usrn1 == myid) {
								r = usrn2;
							} else {
								r = usrn1;
							}

							str += '<button type="button" id=' + selectchatroomId + ' class="list-group-item list-group-item-action bg-light" onclick="get_recp(this.id)">';
							str += '<span class="text-dark">' + r + '</span>';
							str += '</button>';

							$("#friends").append(str);
						}


					}
				}
			});
		}

		function get_recp(id) {
			chatroomId = id;
			console.log(chatroomId);
			
			load_data();
		}

	</script>
}